.fAdd {
    width:450px;
    padding-left:15px;
    padding-top:15px;
    line-height: 25px;
}

.fAdd p input {
    float:right;
    width:300px;
    height:25px;
}

.fAdd p select {
    float:right;
    width:300px;
    height:25px;
}

.fAdd span {
    margin: 5px;
    float: right;
    color: gray;
}

.item_title {
    margin: 5px;
    padding: 5px;
    display: none;
    background-color: #AAAAAA;
    color: #FFFFFF;
    width: 300px;
    height: 25px;
}
