.fAdd {
    width:465px;
    padding:15px;
    line-height:25px;
}

.fAdd p input {
    float:right;
    width:300px;
    height:25px;
}

.fAdd p select {
    float:right;
    width:300px;
    height:25px;
}

.fAdd .payment {
    border: 2px dotted #888899;
    padding:0 5px 0 5px;
}

.delete {
    float:right;
    cursor:pointer;
}
