.fAdd {
    width:465px;
    padding:15px;
    line-height:25px;
}

#fAddPayment {
    position:absolute;
    top:100px;
}

.fAdd p input {
    float:right;
    width:300px;
    height:25px;
}

.fAdd p select {
    float:right;
    width:300px;
    height:25px;
}

#phone_info {
    color:#888;
}
