.fControl {
    width:984px;
    height:200px;
    padding-left:15px;
    padding-top:10px;
    line-height: 25px;
}

#ItemControl {
    border-bottom-style: solid;
	border-width: 1px;
	border-color: #888888;
}

#MasterControl {
    border-bottom-style: solid;
	border-width: 1px;
	border-color: #888888;
}

.fControl label {
    color: #000000;
}


.fControl p input {
    margin: 5px;
    height: 25px;
    width: 100px;
}

.fControl div {
    margin: 5px;
    padding: 5px;
}

.fControl span {
    float: left;
    margin: 5px;
    padding: 5px;
}

.dItems {
    width: 350px;
}

.dItems p {
    width: 330px;
    height: 50px;
    margin: 5px;
}

.dItems label {
    float: left;
    color: #000000;
}

.dItems select {
    float: right;
    width: 100px;
}

.dItems input {
    float: right;
}

.cMasters {
	width: 350px;
}

.cMasters p {
    width: 330px;
    height: 50px;
    margin: 5px;
}

.cMasters label {
    float: left;
    color: #000000;
}

.cMasters select {
    float: right;
    width: 100px;
}

.cMasters input {
    float: right;
}