.fControl {
    width:984px;
    height:400px;
    padding-left:15px;
    padding-top:10px;
    line-height: 25px;
    overflow: auto;
}

.container {
    border: 2px dotted #888899;
    padding:0 5px 0 5px;
    margin: 5px;
    width: 800px;
    overflow: hidden;
}

.master_container {
    width: 400px;
    margin: 5px;
    padding: 5px;
    float: left;
}

.master_container p {
    margin-bottom: 1px;
}

.materials_container {
    width: 300px;
    margin: 5px;
    padding: 5px;
    float: left;
}

.delete {
    float:right;
    cursor:pointer;
}

.edit {
    float:right;
    cursor:pointer;
}
