.fControl {
    padding: 10px;
    margin: 5px;
}

.planlist {
}

.planadd {
}

.preview {
    border: 2px dotted #888899;
    padding:0 5px 0 5px;
    width: 400px;
    margin: 5px;
	overflow: hidden;
}

.container {
    border: 2px dotted #888899;
    overflow: hidden;
    width: 800px;
    margin: 5px;
}

.plan_container {
    width: 400px;
    margin: 5px;
    padding: 5px;
    float: left;
}

.items_container {
    width: 300px;
    margin: 5px;
    padding: 5px;
    float: left;
    overflow: auto;
}
    
#price {
    width: 40px;
}

#amount {
    width: 40px;
}
