.fSearch {
    width:770px;
    padding-left:15px;
    padding-top:15px;
    line-height: 25px;
}

.fSearch table{
    width:770px;
    border:1px solid #888899;
}

.fSearch table td{
    padding: 10px;
    vertical-align: top;
    line-height: 25px;
}

.fSearch table p input {
    float:right;
    width:150px;
    height:25px;
    background: url('../img/find.png') no-repeat 2px 3px;
    text-indent:20px;
    border:1px solid #848488;
}

.fSearch table p select {
    float:right;
    width:100px;
    height:25px;
}

.fSearch p input {
    float:right;
    width:770px;
    height:25px;
}

.fSearch #datepicker {
    float:right;
    width:100px;
    height:25px;
}

.searchResult {
    width:770px;
    border-collapse:collapse;
    line-height: 30px;
}

.searchResult td {
    border:1px solid ;
}

#content {
    width:770px;
    padding-left:15px;
    padding-top:15px;
    line-height: 25px;
}
