.store_list {
    padding: 10px;
    margin: 5px;
    width: 800px;
    height: 600px;
    overflow: auto;
}

.store_list div {
    float: right;
}

.mat {
    border: 2px dotted #888899;
    padding:0 5px 0 5px;
    margin: 5px;
}