.fImport {
    width:984px;
    height:130px;
    padding-left:15px;
    padding-top:10px;
    line-height: 25px;
    border-bottom-style: solid;
    border-width: 1pt;
    overflow: hidden;
}

.fImport p input {
    margin: 5px;
    height: 25px;
    float: right;
}

.fExport {
    width: 984px;
    height: 180px;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 25px;
}

.fExport input {
    float: right;
    width: 300px;
    height: 25px;
}

.fExport div {
    width: 200px;
    height: 90px;
    margin: 5px;
    padding: 5px;
    float: left;
    border: 2px dotted #888899;
}

.fExport div input{
    width: 55px;
    float: left;
    margin: 5px;
}

.fExport div label{
  float: left;
}
