.fImport {
    width:784px;
    height:130px;
    padding-left:15px;
    padding-top:10px;
    line-height: 25px;
    border-bottom-style: solid;
    border-width: 1pt;
    border-color: #face8d;
}

.fImport p input {
    float: right;
    width: 300px;
    height: 25px;
}

.fExport {
    width: 784px;
    height: 170px;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 25px;
}

.fExport input {
    float: right;
    width: 300px;
    height: 25px;
}

.fExport div {
    width: 230px;
    height: 75px;
    margin: 5px;
    padding: 5px;
    float: right;
    border-style: solid;
    border-color: #face8d;
    border-width: 1pt;
}

.fExport div input{
    width: 70pt;
    float: left;
    margin: 5px;
}

.fExport div label{
  float: left;
}
