.fImport {
    width:784px;
    height:135px;
    padding-left:15px;
    padding-top:15px;
    line-height: 25px;
    border-bottom-style: solid;
    border-width: 1pt;
    border-color: #face8d;
}

.fImport p input {
    float:right;
    width:300px;
    height:25px;
}

.fExport {
    width:784px;
    height:135px;
    padding-left:15px;
    padding-top:15px;
    line-height: 25px;
}

.fExport p input {
    float:right;
    width:300px;
    height:25px;
}
