* {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}

div#main {
    margin:0px auto;
    padding-top:15px;
    width:1000px;
    border-right:1px #888899 solid;
    border-left:1px #888899 solid;
    border-bottom:1px #888899 solid;
}

ul.menu {
    list-style:none;
    border-bottom:1px #888899 solid;
    padding-bottom:10px;
}

ul.menu li {
    display:inline;
    margin-right:5px
}

ul.menu li a {
    color:#888899;
    text-decoration:none;
    background:#f7f7f9;
    border:1px #bbbbcc solid;
    border-bottom:none;
    padding:10px 14px
}

ul.menu li a:hover {padding:14px 14px 10px 14px}

ul.menu li a.selected {
    color:#555566;
    background:#ffffff;
    border:1px #888899 solid;
    border-bottom:1px #ffffff solid;
    padding:14px 14px 10px 14px
}

td {
    vertical-align:top;
}

#mask {
    top:0px;
    left:0px;
    background-color:#000;
    display:none;
    position:absolute;
    z-index:9000;
}

#modal {
    background-color:#fff;
    padding:20px;
    display:none;
    min-width:350px;
    max-height:500px;
    overflow: auto;
    position:absolute;
    z-index:9999;
}

#modal img {
    height:32px;
    width:32px;
    float:left;
}

#close {float:right;}

#message {
    padding:0 32px 0 32px;
}

#footer {
    width:1000px;
    margin:0 auto;
    padding-top:10px;
    text-align:right;
    font-size:10px;
    color:gray;
}
